<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TERMS_URL</key>
	<string>https://terms.html</string>
	<key>BILLING_URL</key>
	<string>https://apps.apple.com/account/billing</string>
	<key>POLICY_URL</key>
	<string>https://policy.com</string>
	<key>SERVER_URL</key>
	<string>https://sdk-api.panda.boosters.company</string>
	<key>SERVER_URL_DEBUG</key>
	<string>https://sdk-api.panda-stage.boosters.company</string>
	<key>productIds</key>
	<array>
		<string>com.example.1</string>
		<string>com.example.2</string>
		<string>com.example.3</string>
		<string>com.example.4</string>
	</array>
</dict>
</plist>
